# Dependencies
node_modules/

# Build output
dist/

# Local Netlify folder
.netlify/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment
.env
.env.local
.env.*.local
